<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	  <h1>What have you learned</h1>
    <p>Here is a list of things I have learned.</p>
    <img src="https://res.cloudinary.com/teepublic/image/private/s--UvSUNgzW--/b_rgb:fffffe,t_Heather%20Preview/c_lpad,f_jpg,h_630,q_90,w_1200/v1494469473/production/designs/1595608_1.jpg">

    <ol>
	    <li>Input images</li>
	    <li>HTML basic tags</li>
	    <li><strong>Bold some text</strong></li>
	    <li><em>Italicize Others</em></li>
	    <li>Order and Unordered Lists</li>
    </ol>
    <ul>
	<li>Note you are amazing!</li>
    </ul>
  </body>
</html>
